body {
	margin-top: 70px;
	font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
	font-family: Poppins;
}

p{
	font-family: Roboto;
}

/*navigation*/
.navbar-default{
	backgrount-color: #fff;
	border : 0;
	font-family: Poppins;
}

.navbar-brand{
	font-size:20px;
	color: #000 !important 	;
	font-weight: bold;
}

/*showcase*/
#showcase h1{
	font-size: 50px;
	margin-bottom: 20px;
}

#showcase img{
	width: 90%;
}

#showcase .showcase-right{
	margin-top: 90px;
}

/*testimonial*/
#testimonial{
	background-color: #f1f1f1;
	padding: 50px 0 30px 0;
	text-align: center;
	margin-top: 40px;
}

#testimonial p{
	font-size: 32px;
	font-family: 'Josefin Sans';
	color: #000;
}

#testimonial p.customer{
	font-size:20px;
	color: #666;
}

/*info1*/
#info1 .info-right{
	margin-top: 90px;
}


/*info2*/
#info2 {
	margin: 20px 0 60px 0;
}

/*contact*/
#contact{
	padding:40px;
	color:#fff;
	border-top: #333 px solid;
	border-bottom: #333 7px solid
}

/*footer*/

footer{
	padding: 30px;
    color: #cccccc;
    background-color: #222222;
}

footer input{
	height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

footer .btn{
	padding: 10px 5px 10px;
	margin: -3px 0 0 5px;
}