*{
	padding: 0;
	margin : 0;
}
body {
	overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    min-width: 360px;
}
li{
	list-style: none;
    display: inline-block;
}
a{
	text-decoration: none;
    transition: all 500ms ease-in-out;
}
a:hover,
a:active {

    text-decoration: none;
}
h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
p{
	font-size: 15px;
    line-height: 21px;
}
.btn {
	transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}
.btn:hover{
	background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

/*navigation*/

.navbar{
	background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a{
	color: #fff !important;
	opacity: 0.7;
}

.navbar a:hover{
	opacity: 1;
	background-color: #111111 !important;
}

/*HEADER*/
.header {    
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../images/bg3.jpg);
    background-o;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.header img {    
    height: 250px;
    width: 450px;
    margin: 70px 0 0 40px;
}

.header h1 {
    
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    
    margin-top: 20px;
}

.header .btn {
    
    border-radius: 0;
    margin: 40px 20px;
}
@media(max-width: 1000px) { 
	.header img{
		width: 0;
		height: 0;
		margin: 20px 0 0 20px;
	}
}

@media(max-width: 768px) { 
	.header{
		padding: 30px;
		height: 450px;
	}
	.header img{
		width: 0;
		height: 0;
		margin: 20px 0 0 20px;
	}
	.header .btn{
		font-size: 10px;
		margin-left: 20px;
	}
	.header h1{
		font-size: 20px;
	}
	.header p{
		font-size: 10px;
	}
}

/* services*/
.services {
	padding: 80px 0 80px;
	text-align: center;
}

.services h1, .services h4{
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.services p{
	color: #737373;
	font-size: 14px;
	padding-bottom: 40px;
}

.services i{
	height: 80px;
	width: 80px;
	font-size: 30px;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #6699cc;
	color: #fff;
}

@media(max-width: 768px){
	.services{
		padding: 30px;
	}
}

/*pricing*/

.pricing {    
    padding: 50px 0 80px;
    text-align: center;
    background-color: #2e80e2;
}

.pricing h2,
.pricing p {
    color: #fff;
}

.pricing p {
	 padding-bottom: 40px;
}

.pricing .packages {    
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.packages li{
	display: block;
	padding: 5px;
}
.packages h1
.packages h4
.packages b{
	color: #4c4c4c;
}

.packages p,
packages li{
	color: #737373;
}

.packages button {
	margin-top: 10px;
}


@media(max-width: 768px){
	.pricing{
		padding: 30px;
	}

	.packages{
		width: 80%;
		margin-left: 25px;
	}
}

/* team */

.team {
	padding: 50px 0 80px;
	text-align: center;
}
.team b,
.team h2,
.team h4{
	margin: 20px 0 20;
	color: #4c4c4c;
}
.team p {
	color: #737373;
}
.team img {
	height: 150px;
	width : 150px;
	margin-top: 80px;
}

.team i{
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a0db8e;
	color: #fff;
}

.team a:hover i{
	background-color: #709963;
}

/*clients*/
.clients {
	padding: 50px 0 80px;
	background-color: #2e80e2;
	text-align: center;
	color: #fff;
}

.clients p{
	padding-bottom: 40px;
}

.clients img{
	/*width: 200px;*/
	height: 100px;
	opacity: .6;
	cursor: pointer;
	margin: 40px 0;
	transition: all 500ms ease-in-out;
}

.clients li:hover img{
	opacity: 1;
}

/*contact*/

.contact {
	padding: 50px 0 80px;
	text-align: center;
}

.contact p{
	padding-bottom: 80px;
	color: #737373;
}

.contact h2{
	color: #4c4c4c;
	margin: 20px 0 20px;
}

.contact .input-group{
	margin-bottom: 25px;
}

.contact .form-control{
	border-radius: 0 !important;
}

.contact span{
	border-radius: 0 !important;
}

.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	background-color: #f08080;
	color: #fff;
}

.contact .btn:hover{
	background-color: #a85959 !important;
	color: #fff !important;
}

/*footer*/

.footer{
	padding: 30px;
    color: #cccccc;
    background-color: #222222;
}

.footer .social{
	font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer input{
	height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn{
	padding: 10px 5px 10px;
	margin: -3px 0 0 5px;
}



